.posts-feed {
  &-filter {
    max-width: 140rem;
    text-align: center;
    padding: 0 2.4rem;
    margin: 6rem 0;

    li {
      display: inline-block;
      margin-right: 2px;

      a {
        display: inline-block;
        background: #ece9e7;
        border: 1px solid #ece9e7;
        border-radius: 4px;
        //box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);//
        color: $cod-gray;
        font-size: 1.3rem;
        padding: 1rem;
        min-width: 12rem;
        position: relative;
        text-align: center;
        text-decoration: none;

        .number {
          margin-left: 4px;
          opacity: 0.65;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    li.active a {
      background: $raw-sienna;
      color: white;
      box-shadow: none;
    }
  }

  &-content {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-auto-rows: 1fr;
    max-width: 140rem;
    width: 100%;
    margin: 0 auto 9.6rem;

    .feed-card {
      border-radius: 6px;
      background: $background-color;
      box-shadow: 0 1px 1px 1px rgba(10, 16, 34, 0.08);
      color: $cod-gray;
      -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
      -moz-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
      -o-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
      transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
      will-change: transform, box-shadow;

      &:hover {
        -webkit-box-shadow: 0 16px 32px 0 rgba(10, 16, 34, 0.2), 0 0 0 transparent;
        box-shadow: 0 16px 32px 0 rgba(10, 16, 34, 0.2), 0 0 0 transparent;
        -webkit-transform: translateY(-5px) translateZ(0);
        -ms-transform: translateY(-5px) translateZ(0);
        -moz-transform: translateY(-5px) translateZ(0);
        -o-transform: translateY(-5px) translateZ(0);
        transform: translateY(-5px) translateZ(0);
      }

      &-img {
        border-radius: 6px 6px 0 0;
        width: 100%;
        height: 210px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      &-content {
        display: flex;
        flex-direction: column;
        padding: 2.4rem 2.8rem 3.2rem;
        height: calc(100% - 210px);
        box-sizing: border-box;

        .card-title {
          font-size: 2.2rem;
        }

        .card-excerpt {
          flex-grow: 1;
          margin: 0;
          font-size: 1.4rem;
          line-height: 1.65;
          opacity: 0.85;
        }

        .card-meta {
          opacity: 0.8;
          font-size: 1.3rem;
          padding-top: 1.2rem;
          margin-top: 2rem;
          border-top: solid 1px #e4e4eb;

          .author-img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
          }

          .author-name {
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;

            h3 {
              font-size: 1.2rem;
              font-weight: normal;
              text-transform: uppercase;
              margin: 0 0 0.6rem;
              opacity: 0.72;
              letter-spacing: 1px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}

@include media-query($xlg) {
  .posts-feed-content {
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  }
}

@media only screen and (max-width: 576px) {
  .feed-card {
    margin-bottom: 2.4rem;
    width: 100%;
    display: block;
  }
}

@media only screen and (max-width: 719px) {
  .posts-feed-filter {
    margin: 2rem 0;
    white-space: nowrap;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 1rem;
    transform: translate3d(0, 0, 0);
  }
}
