body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
  height: 100%;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $woodsmoke;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

blockquote {
  color: $gray;
  border-left: 4px solid $gray-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $gray-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;

  span {
    line-height: 2rem;
    display: inline-block;
  }
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.orange {
  color: $christine;
}

.grey {
  color: $gray;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: text-bottom;
}

/*----- Begin Headings -----*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.15;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

/*----- End Headings -----*/

/*----- Begin Paragraph -----*/
p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-rendering: optimizeLegibility;
}
/*----- End Paragraph -----*/

/*----- Begin Other tags -----*/
em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 0.75rem;
}

hr {
  border-top: solid 1px #ddd;
  clear: both;
  margin: 1rem 0;
  height: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/*----- End Other tags -----*/

/*----- Begin Links -----*/
a {
  color: $curious-blue;
  text-decoration: none;
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;

  &:hover {
    color: #1069ad;
  }
}
/*----- End Links -----*/

/*----- Begin Selection -----*/
::selection {
  background: #333;
  color: #fff;
}
::-moz-selection {
  background: #333;
  color: #fff;
}
/*----- End Selection -----*/
