---
layout: default

---
{% assign counter = 0 %}
{% for item in site.posts %}
  {% unless item.published == false %}
    {% assign counter=counter | plus:1 %}
  {% endunless %}
{% endfor %}

<article class="post">
  <ul class="post-categories">
    {% for link in site.navigation %}
      {% assign active = nil %}
      {% assign url = page.url | remove:'index.html' %}
      {% if url == link.url %}
        {% assign active = 'active' %}
      {% endif %}

      <li class="post-category">
        <a href="{{ link.url }}" class="{{ active }}">
          {{ link.text }}

          {% if link.url == '/' %}
            {% assign counter = 0 %}
            {% for item in site.posts %}
              {% assign counter=counter | plus:1 %}
            {% endfor %}
          {% endif %}

          {% unless link.url == '/' %}
            {% assign counter = 0 %}
            {% for item in site.posts %}
              {% if item.categories contains link.tag %}
                {% assign counter=counter | plus:1 %}
              {% endif %}
            {% endfor %}
          {% endunless %}

          <span>({{ counter }})</span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="post-content">
    {{ content }}
  </div>

</article>

{%- include pagination.html -%}
