---
layout: default
---

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, sint perspiciatis. Eos est quasi maiores esse,
  eaque consectetur veniam nostrum! Impedit perspiciatis earum id sint beatae libero non dolores soluta.
</p>

<h1>Projects</h1>

<div class="projects">
  <a class="project-card">
    <img class="project-img" src="../assets/images/blog-logo.jpg" alt="bla">
    <h3>Título</h3>
    <h4>Subtitulo</h4>
  </a>

  <a class="project-card">
    <img class="project-img" src="../assets/images/blog-logo.jpg" alt="bla">
    <h3>Título</h3>
    <h4>Subtitulo</h4>
  </a>

  <a class="project-card">
    <img class="project-img" src="../assets/images/blog-logo.jpg" alt="bla">
    <h3>Título</h3>
    <h4>Subtitulo</h4>
  </a>

  <a class="project-card">
    <img class="project-img" src="../assets/images/blog-logo.jpg" alt="bla">
    <h3>Título</h3>
    <h4>Subtitulo</h4>
  </a>

  <a class="project-card">
    <img class="project-img" src="../assets/images/blog-logo.jpg" alt="bla">
    <h3>Título</h3>
    <h4>Subtitulo</h4>
  </a>
</div>
